body {
  margin: 0;
  font-family: Arial;
}

.layout {
  display: flex;
  height: 100vh;
}


.layout button {
  border-radius: 50px;
  padding: 7px;
  width: 120px;
  margin: 5px;
  background-color: #2c2424;
  color: white;
  border: 3px solid #2c2424;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}



.sidebar {
  width: 230px;
  background: #1e1e1e;
  color: white;
  padding: 10px;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 30px;
}

.search-box input {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  border-radius: 20px;
}

.pdf-viewer {
  margin-top: 30px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  max-height: 400px;

  overflow-y: auto;
}

#pdfText {
  white-space: pre-wrap;
  line-height: 1.8;
}

.highlight {
  background: yellow;
}

.buttons {
  margin-bottom: 20px;
}

.textLayer span {
  position: absolute;
  white-space: pre;
  transform-origin: 0% 0%;
}

.highlight {
  background: yellow;
  color: black;
}